#1 Create a string with your name and print it

In [ ]:
name = "Ganesh Shinde"
print(name)

Ganesh Shinde

#2 Find the length of the string "Hello World"

In [ ]:
text = "Hello World"
print(len(text))

11

#3 Slice the first 3 characters from the string "Python Programming"

In [ ]:
text = "Python Programming"
print(text[:3])

Pyt

#4 Convert the string "hello" to uppercase

In [ ]:
text = "hello"
print(text.upper())

HELLO

#5 Replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

#6 Create a list with numbers 1 to 5 and print it

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

#7 Append the number 10 to the list [1, 2, 3, 4]

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

#8 Remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

#9 Access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

#10 Reverse the list [10, 20, 30, 40, 50]

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

#11 Create a tuple with the elements 100, 200, 300 and print it

In [ ]:
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

#12 Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

#13 Find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
tup = (10, 20, 5, 15)
print(min(tup))

5

#14 Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

#15 Create a tuple containing three different fruits and check if "kiwi" is in it

In [ ]:
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

#16 Create a set with the elements 'a', 'b', 'c' and print it

In [ ]:
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

#17 Clear all elements from the set {1, 2, 3, 4, 5}

In [ ]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

#18 Remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

#19 Find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

#20 Find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

#21 Create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}


#22 Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
person = {'name': 'John', 'age': 25}
person['country'] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

#23 Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

#24 Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

#25 Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

#26 Create a list, a tuple, and a dictionary, and print them all

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

#27 Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

In [ ]:
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[8, 10, 10, 47, 60]

#28 Create a list with strings and print the element at the third index.

In [ ]:
strings = ["apple", "banana", "cherry", "date", "fig"]
print(strings[3])

date

#29 Combine two dictionaries into one and print the result

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

#30 Convert a list of strings into a set
**bold text**

In [ ]:
strings = ["apple", "banana", "cherry", "apple"]
string_set = set(strings)
print(string_set)

{'banana', 'cherry', 'apple'}

#THEORY QUESTIONS

#1. What are data structures, and why are they important?
Data structures are ways of organizing and storing data to perform operations efficiently. They are important because:

They allow efficient data retrieval, insertion, and manipulation.

Different problems require different structures (e.g., arrays, linked lists, trees).

They optimize memory usage and performance in applications like databases, operating systems, etc.

#2. Difference between mutable and immutable data types with examples
Mutable: Can be changed after creation.
Example: Lists, Dictionaries, Sets.

In [37]:
lst = [1, 2]
lst.append(3)  # Changes original list

Immutable: Cannot be changed after creation.
Example: Strings, Tuples.

In [38]:
s = "hello"
# s[0] = 'H'  # Error: Strings are immutable

#3. Main differences between lists and tuples in Python
Lists are mutable; tuples are immutable.

Lists use [], tuples use ().

Lists are slower compared to tuples (tuples are faster due to immutability).

Tuples are suitable for fixed data; lists for dynamic data.

#4. Describe how dictionaries store data
Dictionaries store data in key-value pairs using a hashing mechanism:

Keys are hashed to compute an index.

Values are retrieved using keys, not indexes.

Example:

In [ ]:
person = {"name": "Alice", "age": 25}

#5. Why might you use a set instead of a list in Python?
Sets automatically remove duplicates.

They allow fast membership testing (in operation).

Useful for mathematical operations (union, intersection).

#6. What is a string in Python, and how is it different from a list?
A string is a sequence of characters enclosed in quotes.

A list is a collection of elements (any type).

Strings are immutable; lists are mutable.

Example: "hello" vs ['h', 'e', 'l', 'l', 'o']

#7. How do tuples ensure data integrity in Python?
Tuples are immutable, preventing accidental modifications.

Useful for constant data like coordinates (x, y) or database records.

#8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table stores key-value pairs using hashing.

Python dictionaries use hash tables internally to map keys to values efficiently.

#9.Can lists contain different data types in Python?
Yes.Python lists are heterogeneous:

In [ ]:
mixed = [1, "text", 3.5, True]

#10. Explain why strings are immutable in Python
Immutability improves performance and memory usage (strings can be reused).

It ensures security when strings are used as keys in dictionaries.

#11. Advantages of dictionaries over lists for certain tasks
Fast lookup using keys instead of searching through a list.

Data is stored as key-value pairs (more descriptive).

Useful when data requires unique identifiers.

#12. Scenario where using a tuple is preferable over a list
When data should not change, like coordinates (lat, long) or fixed configuration.

Tuples can be used as dictionary keys, lists cannot.

#13.How do sets handle duplicate values in Python?
Sets automatically remove duplicates when elements are added.

In [ ]:
s = {1, 2, 2, 3}
print(s)  # Output: {1, 2, 3}

#14. How does the “in” keyword work differently for lists and dictionaries?
For lists: checks for presence of an element in values.

For dictionaries: checks for presence of a key (not value).

#15. Can you modify the elements of a tuple? Explain why or why not
No, tuples are immutable.

Once created, their contents cannot be changed, added, or removed.

#16. What is a nested dictionary, and give an example of its use case
A dictionary inside another dictionary.

Useful for hierarchical data like JSON:

In [ ]:
student = {
  "name": "Alice",
  "grades": {"math": 90, "science": 85}
}

#17. Describe the time complexity of accessing elements in a dictionary
Average case: O(1) (constant time) due to hashing.

Worst case: O(n) if many collisions occur.

#18. In what situations are lists preferred over dictionaries?
When order matters.

When data is accessed by index, not by keys.

When duplicates are allowed.

#19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Before Python 3.7, dictionaries didn’t maintain insertion order.

Even now, order is maintained but should not be relied upon for algorithm logic.

Retrieval is based on keys, not position.

#20. Difference between a list and a dictionary in terms of data retrieval
Lists: Retrieve data by index (e.g., list[0]).

Dictionaries: Retrieve data by key (e.g., dict['name']).